.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    width: 250px;


    img {
        width: 200px;
        height: auto;
        border-radius: 5px;
    }

    h3 {
        margin: 10px 0;
    }

    p {
        font-size: 14px;
        color: #666;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.card:hover {
    background-color: #efefef;
}